/* stylelint-disable color-named */
@import '../src/mixins/theme';

$theme: 'foo';

.theme {
	@include theme('foo') {
		background: red;
	}
}

$theme: 'bar';

.theme {
	@include theme('bar', 'baz') {
		background: blue;
	}
}
