$mobile: 600px !default;
$tablet: 900px !default;
$desk: 1200px !default;

$breakpoints: (
	'mobile': 'screen and (min-width: #{$mobile})',
	'mobile-down': 'screen and (max-width: #{$mobile - 1px})',
	'tablet': 'screen and (min-width: #{$tablet})',
	'tablet-only': 'screen and (min-width: #{$mobile}) and (max-width: #{$tablet - 1px})',
	'tablet-down': 'screen and (max-width: #{$tablet - 1px})',
	'desk': 'screen and (min-width: #{$desk})',
	'desk-only': 'screen and (min-width: #{$tablet}) and (max-width: #{$desk - 1px})',
	'desk-down': 'screen and (max-width: #{$desk - 1px})',
	'retina': '(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx)'
) !default;

@mixin breakpoint($mq) {
	@each $alias, $condition in $breakpoints {
		@if $mq == $alias and $condition {
			@media #{$condition} {
				@content;
			}
		}
	}
}

@mixin mq($min: false, $max: false) {
	@if ($min) {
		@if ($max and $max > $min) {
			 @media screen and (min-width: $min) and (max-width: $max) {
				@content;
			}
		} @else {
			 @media screen and (min-width: $min) {
				@content;
			}
		}
	} @else if ($max) {
		 @media screen and (max-width: $max) {
			@content;
		}
	}
}
