@use 'sass:math';

@mixin embed-container($ratio: '16:9') {
	position: relative;
	height: 0;

	@if type_of($ratio) == list {
		padding-bottom: percentage(math.div(nth($ratio, 2), nth($ratio, 1)));
	} @else if type_of($ratio) == string {
		@if $ratio == '16:9' {
			padding-bottom: 56.25%;
		} @else if $ratio == '4:3' {
			padding-bottom: 75%;
		} @else if $ratio == '1:2' {
			padding-bottom: 200%;
		} @else if $ratio == '2:1' {
			padding-bottom: 50%;
		} @else if $ratio == '1:1' {
			padding-bottom: 100%;
		}
	} @else if type_of($ratio) == number {
		padding-bottom: $ratio;
	}
}

@mixin embed-element() {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}
