@mixin font-face($family, $path: $family, $weight: normal, $style: normal, $svg: '', $exts: eot woff2 woff ttf svg) {
	$src: ();
	$extmods: (
		eot: '?#iefix',
		svg: '#' + $svg
	);
	$formats: (
		eot: 'embedded-opentype',
		ttf: 'truetype'
	);

	@each $ext in $exts {
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append($src, url('#{$path}.#{$extmod}') format('#{$format}'), comma);
	}

	@font-face {
		font-family: quote($family);
		@if index($exts, eot) {
			src: url('#{$path}.eot');
		}
		src: $src;
		font-weight: $weight;
		font-style: $style;
	}
}
